* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.bg {
    background-image: url("../images/bg.png");
    background-size: cover;
    padding-top: 42px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.container:after {
    content: "";
    clear: both;
    display: block;
}

header nav ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fffefe;
    text-decoration: none;
    line-height: 0;
}

header {
    margin-bottom: 55px;
}

header nav ul li {
    margin-left: 25px;
}

header nav ul {
    list-style: none;
}

header .logo {
    text-transform: uppercase;
    font: 24px/24px bold, 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: -1px;
}

header nav ul li:after {
    content: "";
    clear: both;
    display: block;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -13px;
    height: 2px;
    z-index: 1;
    background-color: #008ed6;
    opacity: 0;
}

header nav ul li:before {
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    margin-left: -1px;
    bottom: -13px;
    height: 2px;
    background-color: #16151b;
    width: 2px;
    z-index: 2;
    opacity: 0;
}

header nav ul li:hover:after, header nav ul li:hover:before {
    opacity: 1;
    transition: 0.5s;
}

header nav ul li:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.view:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.left {
    float: left;
}

.right, header nav ul li {
    float: right;
}

h3 {
    color: #008ed6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}

.left h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 27px;
    font-weight: 600;
    margin-top: 30px;
    line-height: 48px;
}

.left {
    max-width: 485px;
}

.left p {
    color: #999999;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 65px;
}

.container div.left {
    margin-top: 45px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container .left a, .get_use .container a {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 3px;
}

.banner_information .container a.view:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.view {
    border: 1px #4d4d52 solid;
    display: inline-block;
}

.view:hover {
    background-color: #008ed6;
    transform: scale(1.05);
    transition: 0.3s;
}

.activ {
    background-color: #008ed6;
}

.align-center {
    text-align: center;
}

h3 {
    margin-bottom: 23px;
}

.product .container h3 {
    margin-top: 65px;
}

h2 {
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 35px;
    background-image: url('../images/blue_border_line.png');
    background-repeat: no-repeat;
}

.product .container h2, .price .container h2 {
    background-position: bottom center;
    text-align: center;
    margin-bottom: 70px;
}

.about .container h2 {
    background-position: bottom center;
    text-align: center;
}

.features img {
    border: #e2e2e2 solid 1px;
    padding: 25px;
    border-radius: 50%;
}

.features div {
    display: inline-block;
    width: 230px;
    margin: 0 34px;
}

.features div:first-of-type {
    margin-left: 0;
}

.features div:last-of-type {
    margin-right: 0;
}

.product .container .features h5 {
    padding-top: 35px;
    font-size: 24px;
    font-weight: 400;
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;
}

.product .container .features p, .details .container p, .custom .container .left p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 27px;
}

div.features {
    margin-bottom: 75px;
}

section.product {
    border-bottom: #ededed solid 1px;
}

.details {
    margin-top: 66px;
    margin-bottom: 77px;
}

.details .container img.tel {
    margin-left: 35px;

}

section.details div.container:after {
    content: "";
    clear: both;
    display: block;
}

.details .container h2, .custom .container h2 {
    background-position: bottom left;
    margin-bottom: 33px;
}

.device_about {
    max-width: 470px;
    margin-top: 50px;
}

.with_icons li {
    color: #1b1b1b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    list-style: none;
}

ul.with_icons {
    margin-top: 40px;
}

.custom {
    background-color: #f2f2f2;
    padding: 63px 0;
}

section.custom div.container:after {
    content: "";
    clear: both;
    display: block;
}

.easy {
    max-width: 470px;
}

.telephone {
    max-width: 670px;
}

.js {
    max-width: 550px;
    color: white;
}

.quality {
    padding-top: 65px;
    background-image: url('../images/bg_for5_section.png');
    background-size: cover;
    padding-bottom: 215px;
}

.quality .container h2, .quality .container h3 {
    background-position: bottom center;
    text-align: center;
}

.quality .container h2 {
    margin-bottom: 90px;
    color: white;
}

.quality .container h3 {
    margin-bottom: 20px;
}

p.text {
    font-style: italic;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.js {
    display: inline-block;
}

.name_employee {
    display: inline-block;
}

.js img {
    margin-right: 30px;
}

p.name {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

p.employee {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 25px;
}


.owl-dots .owl-dot span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: solid 1px #79797b;
    margin: 0 10px;
    border-radius: 10px;
}
.owl-dots{
    text-align: center;
    position: relative;
    top: 140px;
}

.owl-dots .owl-dot.active span {
    width: 10px;
    height: 10px;
    border: none;
    background-color: #FFFFFF;
}

.owl-dots .owl-dot.active span:hover {
    border: none;
}

.get_use {
    padding: 60px 0;
    background-color: #15141a;
}

.get_use .container p, .get_use .container span {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
}

.get_use .container p {
    font-weight: 600;
    max-width: 670px;
}

.get_use .container span {
    font-weight: 300;
}

section.get_use div.container:after {
    content: "";
    clear: both;
    display: block;
}

.price {
    padding: 60px 0;
}

.price .container h3,  .about .container h3 {
    text-align: center;
}

.use {
    max-width: 275px;
    display: inline-block;
}

.use p {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px;
    border-bottom: #e0e0e0 solid 1px;
}

div.use  {
    border: #e0e0e0 solid 1px;
    margin-right: 20px;
    max-width: 270px;
    width: 100%;
}

p.price_text, span.price_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #999999;
    text-transform: none;
    line-height: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
}

.price_text span {
    color: #58a8df;
    text-transform: none;
    line-height: 25px;
}

button.owl-dot {
    outline: none;
}

p.icon_price {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
}

.price_name {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

sup {
    font-size: 30px;
}

.price .container .use a {
    color: #008ed6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 3px;
    border: 1px #e0e0e0 solid;
    text-align: center;
}

p.price_text {
    padding-top: 50px;
}

.use p.price_text {
    border: none;
}

.price div.use:hover .price_name {
    color: #008ed6
}

.price div.use:hover .icon_price {
    background-color: #008ed6;
    color: white;
}

.price div.use:hover span.price_text {
    color: white;
}

.price div.use:hover a {
    background-color: #008ed6;
    color: white;
}

.about {
    padding: 60px 0 0px;
    background-color: #ededed;
}

.about .container h2 {
    margin-bottom: 60px;
}

div.contacts {
    display: inline-block;
    text-align: center;
    color: #999999;
    font-size: 18px;
    line-height: 18px;
    vertical-align: top;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 190px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 5px;
}

div.last {
    margin-right: 0;
}

.contacts img {
    margin-bottom: 25px;
}

.map {
    height: 370px;
    width: 100%;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #15141a;
    padding: 55px 15px 40px;
    color: #444348;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

footer a {
    color: #444348;
    font-size: 20px;
    margin-right: 35px;
    display: inline-block;
}

footer a:last-child {
    margin-right: 0;
}

.social {
    margin-bottom: 30px;
}

footer .social a:hover {
    color: #008ed6;
    transform: scale(1.3);
    transition: 0.3s;
}

.activity {
    color: #008ed6;
}

.use {
    text-align: center;
}

.use a {
    display: inline-block;
    margin-bottom: 90px;
}

.use a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about {
    text-align: center;
}

.about .container .form {
    position: relative;
    background-color: #15141a;
    max-width: 770px;
    width: 100%;
    padding: 60px 85px 40px 70px;
    margin: 0 auto;
    display: inline-block;
}

.about .container input {
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    flex-direction: column;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #444348;
    background-color: #15141a;
    border: 1px solid #444348;
    margin-right: 15px;
    border-radius: 3px;
}

.about .container textarea {
    height: 190px;
    resize: none;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 15px;
    color: #444348;
    background-color: #15141a;
    border: 1px solid #444348;
    width: 300px;
    border-radius: 3px;
}

.about .correct_building {
    float: left;
}

.about .container button {
    height: 50px;
    width: 160px;
    background-color: #008ed6;
    font-size: 14px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border: none;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    display: block;
}

.about .form:after {
    content: "";
    clear: both;
}

.about .container div.form {
    position: relative;
    top: 70px;
    z-index: 1;
}

.about {
    position: relative;
}

.about .container button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
